body {
	max-width: 1440px;
	margin: auto;
	color: #FF6060;
	display: flex;
    align-items: center;
    justify-content: center;
}
* {
    font-family: 'Montserrat';
	text-decoration: none;
}

main {
	margin-left: 100px;
    margin-right: 100px;
}