.Cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    margin: 50px;
    cursor: pointer;

    .Card {
        position: relative;
        width: 340px;
        height: 340px;
      
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }

        .text-on-card {
            position: absolute;
            bottom: 0;
            left: 20px;
            width: 300px;
            color: white;
            font-size: 18px;
          }
    }
}