.Carrousel {
  position: relative;
  height: 415px;
  width: 1240px;
  margin: 50px;
  margin-bottom: 20px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .arrowleft {
    position: absolute;
    top: 40%;
    left: 1%;
    border: none;
    background: none;
  }

  .arrowright {
    position: absolute;
    top: 40%;
    right: 1%;
    border: none;
    background: none;
  }
}

@media (max-width: 380px) {

  .Carrousel {
    height: 255px;
    width: 335px;
    margin: auto;
    margin-bottom: 10px;

    .arrowleft {
      width: 24px;
    }

    .arrowright {
      width: 24px;
    }

  }
}