.Collapse {
    margin-left: 100px;
    margin-right: 100px;

        .btnCollapse {
        width: 100%;
        background-color: #FF6060;
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        height: 54px;
        padding: 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        }

        .imgCollapse {
            cursor: pointer;
            padding: 15px;
            transform: rotate(-180deg);
            transition: transform 0.3s ease;
          }
          
        .imgCollapse.collapsed {
            transform: rotate(0deg);
          }

          .content {
            overflow: hidden;
            height: 0;
            transform: translateY(-50px);
            transition: all 0.3s linear;
            z-index: 0;
            font-size: 18px;
            color: #FF6060;
            margin: 20px;
            text-align: left;
            font-weight: 400;
          }
          
          .content.collapsed {
            transform: translateY(0px);
            height: 100%;
            margin-bottom: 50px;
          }
          
}