.LocationTitle {
    text-align: left;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
}

.LocationLocation {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin-left: 100px;
    margin-top: -15px;
}
.collapseLocations {
        display: flex;
        flex-direction: row;

        .Collapse {
            width: 40%;
            margin-bottom: 10px;

            .btnCollapse {
                font-size: 18px;
                border-radius: 10px;
            }
        }
}

.headerLocation {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -30px;

    .LocationHost {
        display: flex;
        align-items: center;
    }
      
    .LocationHost h3 {
        margin-right: 10px;
        width: 100px;
        text-align: right;
    }

    .LocationHost img {
        border-radius: 50%;
        width: 75px;
    }
  }

.filterLocation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 85px;
  
    .grey-star,
    .red-star {
      margin-right: 15px;
    }
  }